*
  margin: 0
  padding: 0

  body
    background: #212121
    color: #fff

    button
      padding: 1em
      background: deepskyblue
      border-radius: 0.25em
      border: none
      margin: 1em auto


    table
      border: 1px solid transparent

      td, th, tr
        border-bottom: 1px solid #fff
        padding: 1em
        &:hover
          background: #ddd
          color: #212121


  .container
    width: 80vw
    margin: 0 auto

