body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Poppins', 'DM Sans', sans-serif;
}

#welcome-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-size: larger;
}

#welcome-box h1 {
    font-size: 3em;
    color: #333;
}

header {
    width: 100%;
    height: 13vh;
    background-color: #b6b1b1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 2em;
    color: #fff;
    margin-right: 0.7vw;
}

header p {
    font-size: 1.2em;
    color: #fff;
    margin-left: 0.7vw;
}

.short-info {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

